body, h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
}

/* background behind the logo*/
#header {
    background: rgb(255, 255, 255);
    border-color: rgb(61, 61, 61);
}

/* Background color of the menu */
#sidebar {
  background-color: rgb(50, 50, 50);
}

/* Background color of the menu, when clicked */
#sidebar ul.topics > li.parent, #sidebar ul.topics > li.active {
  background-color: rgb(86, 86, 86);
}

/* Color of all links, including arrows to get to previous and next pages */
a {
    color: rgb(244, 123, 32);
}
a:hover {
   color: rgb(86, 86, 86);
}
